
body
{
  padding: 0px;
  margin:0;
}
div{
  margin:0;
}

.gameScreen
{
  
  background-image: url("../img/forestV6.png");
  /* min-width: 100px; */
  height: 75vh;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: bottom 0px right 0px;
}

.actionScreen
{
  
  /* background-color: blueviolet; */
  width: 100vw;
  height: 25vh;
  display: flex;
}

#scroll
{
  
  background-image: url("../img/scroll.png");
  background-size:cover;
  background-position: 50% top 50% right;
  overflow-y: scroll;
  padding: 5px;
  text-align: center;
  width: 26vw;
  font-size: 10px;
}

.combatLog{
  color:red;
  word-wrap: break-word;
}

#choice
{
  background-color:rgb(255, 121, 210);
  width: 37vw;
  border: 1px black solid;
}

ul
{
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  height: 9vh;
}

.fullWidth
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
}

.block_input_inline
{
  display: inline-block;
}
.input-block
{
  display: block;
}

#profession {
  height: 20px;
}

.ul-block li
{
  display: block;
}

.avatar img
{
  width: auto;
  height: 75vh;
  margin: auto;

}

.avatar
{
  background-color: rgb(123, 123, 247);
}

.carac
{
  background-color:rgb(131, 253, 120);
}



.mana::-moz-progress-bar
{
  background-color:blueviolet;
  border-radius: 2px;
}
.health::-moz-progress-bar
{
  background-color: green;
  content: attr(data-label);
}

#bloc-barre
{
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bloc-perso p 
{
  margin:0;
  text-align: center,
}

.bloc-health, .bloc-mana {
  height: 15px;
  border : solid 1px black;
  width : 100px;
  background-color: bisque;
}

.health{
  background-color: greenyellow;
  height: 100%;
}
.mana{
  background-color: blueviolet;
  width: 50%;
  height: 100%;
}

.bloc-perso 
{
  text-align: center;
}


